
Link{
    text-decoration: none;
}

.details-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    .details-body{
        width:60%;
        padding:1%;
        border-bottom: 1px solid gray;
        .details-row{
            width:100%;
            display: flex;
            align-items: center;
            .details-row-name{
                font-size: 1.2rem;
                margin-right: 50%;
                width:20%;
            }
            .details-row-value{
                width:30%
            }

        }
    }
    .details-btns{
        width:50%;
        margin-top:2%;
        display: flex;
        justify-content: space-between;
        .back-button{
            color: blue;
        }
    }
}