.filterContainer{
    margin: 1% 0;
    .filterHeader{
        color: #1C3557;
        margin-bottom: 1%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .filterButtons{
        
        display: flex;
        .filter-button{
            margin-right: 1%;
        }
    }

    .filterBody{
        color:gray;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 1%;
        .filter-inputs{
            .label{
                margin:0;
                color: #1C3557;
                margin-top: 5%;
                height: 40%;
            }
            .filter-input{
                margin-right:10%;
            }
            width:350px;
            margin:0;
        }
    }
}