body{
    margin: 0;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom:5%;
    .nav-menu-items{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        
        .nav-menu-item{
            text-decoration: none;
            font-size: 20px;
            padding:5px;
            border-radius: 5%;
            color: white;
        }
        .nav-menu-item:hover{
            box-shadow: inset 120px 0 0 0 gray;
            color: white;
            cursor: pointer;
        }
    }
    
}


