.base-page-container{
    margin:1%;
    .base-page-header{
        display: flex;
        align-items: center;
        .base-page-header-btn{
            
            margin-left: 1%;
        }
    }
}