html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    width: 100%;
}

.Login{
    .LoginContainer {
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
        border-radius: 5%;
        box-shadow: 5px 5px 10px gray;
        height: 40%;
        width: 20%;
        .LoginHeader{
            font-family: monospace;
            font-size: 26px;
            color:rgb(53, 223, 253);
        }
        .LoginBody{
            width:100%;
            box-sizing: border-box;
            .input-login{
                width:100%;
                margin-bottom:2%;
            }
        }
        .LoginFoter{
            .button-login{
                margin-top: 15%;
            }
        }
        
    }
      
}

