$body-bg-start: #DCDCDC;
$body-bg-end: #004080;

html, body {
    margin:0;
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
    background: $body-bg-start;
}
.Link{
    text-decoration: none;
    color:black;
}



